<div class="page-header">
  <div class="pull-right">
    <p>
      (showing first 500)
    </p>
  </div>
    <h1>Projects for <%= @pivotal_project %></h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <th class="active">
      Story
    </th>
    <th class="active">
      Estimate
    </th>
    <th class="active">
      Labels
    </th>
    <th class="active">
      Current State
    </th>
  </thead>
  <tbody>
  </tbody>
</table>
