<% if model.errors.any? %>
      <div class="error_explanation" class="form-group">
        <div class="alert alert-danger col-sm-offset-0 col-sm-4">
          <h4><%= pluralize(model.errors.count, "error") %> prohibited this task from being saved:</h4>
          <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
<% end %>
