<div class="container">

  <h1>Projects Page</h1>
  <%= link_to 'Create Project', new_project_path, class: "btn btn-info pull-right"%>


  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>


  </table>

</div>
